<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnjmazegame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cnjmazegame">
        <activity
            android:name=".cnjzhuceActivity"
            android:exported="false" />
        <activity
            android:name=".cnjmazegame"
            android:exported="false" />
        <activity
            android:name=".cnjgameset"
            android:exported="false" />
        <activity
            android:name=".cnjmazehard"
            android:exported="false" />
        <activity
            android:name=".cnjmazeemeng"
            android:exported="false" />
        <activity
            android:name=".cnjlist"
            android:exported="false" />
        <activity
            android:name=".cnjMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>